html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'aktiv-grotesk-std', Helvetica, sans-serif;
    font-size: 0.9em;
}

@media (min-width: 40em) {
    body {
        font-size: 1em;
    }
}

/*
    --brand-primary: #ff0050;
    --brand-info: #7596ff;
    --font-family-base: 'aktiv-grotesk-std', Helvetica, sans-serif;
    --headings-font-weight: 800;
    --code-bg: #ff87ad;
    --code-color: #ff0050;
    --keyword: #2249d4;
    --string: #7596ff;
    --comment: #bbbaaf;
    --type: #4bbe00;
    --literal: #2fbcb2;
    --punctuation: #757575;
*/

pre + pre {
    margin-top: -1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0.08em solid #e6e4d8;
}

blockquote {
    border: 0.1em solid #7085e9;
    border-bottom-width: 0.2em;
    font: inherit;
    background: #7596ff;
    color: white;
    border-radius: 0.3em;
    box-sizing: border-box;
    display:block;
    padding:1em;
    margin:0;
}
blockquote p:last-child {
    margin-bottom: 0;
}

@media (min-width: 62em) {
    blockquote {
        margin-left: -1.4em;
    }
}

pre {
    background-color: #f7f7f7;
    padding: 1.3em;
    border: 0;
    color: #4d463e;
    box-shadow: 0 0.15em 0.3em rgba(0, 0, 0, 0.1);
    position: relative;
    word-wrap: normal;
    max-width: 100%;
    line-height: 1.9;
    font-size: inherit;
}

pre code:before {
    float: right;
    right: 1em;
    top: 1.65em;
    background-color: rgba(247, 247, 246, 0.8);
    z-index: 2000;
    border-radius: 0.3em;
    line-height: 1.1;
    padding: 0.4em 0.6em;
    content: attr(data-lang);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'aktiv-grotesk-std', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color: #bbbaaf;
    text-shadow: 0 0.1em white;
}

.pln {
    color: #4d4d4d
}

@media screen {
    .str, .hljs-string {
        color: #7596ff;
    }

    .kwd, .hljs-keyword {
        color: #2249d4;
    }

    .com, .hljs-comment {
        color: #bbbaaf;
    }

    .typ, .hljs-type {
        color: #4bbe00;
    }

    .lit, .hljs-literal {
        color: #2fbcb2;
    }

    .pun, .opn, .clo, .hljs-punctuation {
        color: #757575;
    }

    .tag, .hljs-tag {
        color: #2249d4
    }

    .atn, .hljs-attribute {
        color: #4bbe00
    }

    .atv, .hljs-value {
        color: #7596ff
    }

    .dec, .var, .hljs-variable {
        color: #2fbcb2;
    }

    .fun, .hljs-function {
        color: red
    }
}

@media print, projection {
    .str {
        color: #060
    }

    .kwd {
        color: #006;
        font-weight: bold
    }

    .com {
        color: #600;
        font-style: italic
    }

    .typ {
        color: #404;
        font-weight: bold
    }

    .lit {
        color: #044
    }

    .pun, .opn, .clo {
        color: #440
    }

    .tag {
        color: #006;
        font-weight: bold
    }

    .atn {
        color: #404
    }

    .atv {
        color: #060
    }
}

mark {
    background-color: #fff3da;
    color: #9b6b00;
}

code {
    background-color: #ffe9ee;
    color: #ff0050;
    font-weight: bold;
    font-size: 0.95em;
}

mark, code, pre {
    border-radius: 0.2em;
}

pre code {
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: 0.9em;
    padding:0;
}

code {
    font-family: Menlo, Monaco, monospace;
}

mark, code {
    padding: 0 0.2em;
}

p, ul, ol {
    line-height: 1.45;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #5a5a5a;
    font-weight: 200;
}

a {
    color: #2249d4;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: 1;
    margin: 0 0 0.3em;
}
h2 {
    font-size: 1.7em;
    line-height: 1.1;
    margin: 0 0 0.2em;
}
h3 {
    font-size: 1.4em;
    line-height: 1.2;
    margin: 0 0 0.15em;
}
h4 {
    font-size: 1.13em;
    line-height: 1.3;
    margin: 0 0 0.15em;
    margin:0;
}
h5 {
    font-size: 1em;
    line-height: 1.45;
    margin:0;
}
h6 {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.6;
    margin:0;
}
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 1.45em;
}
p, p + pre:not(+ pre) {
    margin: 0 0 1.45em;
}
.lead {
    font-size: 1.3em;
    line-height: 1.3;
    font-weight: 200;
}