.menu {
  top: 0;
  margin-top: 3em;
  margin-bottom: 3em;
  list-style: none;
  padding-left: 0;

  img {
    width: 100%;
    margin-bottom: 1em;
  }

  .desc {
    margin-bottom: 2em;
    color: $text-muted;
  }

  li a {
    padding:0.6em 0.7em;
    display:block;
    background-color: #f4f4f4;
    transition:all 0.2s;
    border-left: 0em solid $brand-primary;
    color:$text-color;
    text-decoration: none;
    text-shadow: 0 0.1em white;
    &:hover {
      background-color: #f0f0f0;
    }
    &.active {
      border-left-width: 0.3em;
      background-color: lighten($brand-primary, 45%);
    }
  }
  ul {
    list-style: none;
    padding-left: 0em;
    &:before {
      content: attr(data-label);
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.05em;
      font-size: 0.75em;
      display: block;
      padding: 1em;
      padding-bottom: 0.5em;
      color: #a9a9a9;
    }
  }
  ul li:first-child a {
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
  }
  ul li:last-child a {
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
  }
}

@media(max-width: $screen-xs-max) {
  .menu {
    text-align: center;
  }
}

@media(min-width: $screen-sm-min) {
  .menu li {
    width: 90%;
  }
  header {
    position: absolute;
  }
}

header {
  max-width: 20em;
  margin: auto;
}