$brand-primary: #ff0050;
$brand-info: #7596ff;
$font-family-base: 'aktiv-grotesk-std', Helvetica, sans-serif;
$headings-font-weight: 800;
$code-bg: lighten($brand-primary, 47%);
$code-color: $brand-primary;

@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'hl';
@import 'menu';

.pages-enter {
  opacity: 0.01;
  transition: 0.06s opacity;
}

.pages-enter.pages-enter-active {
  opacity: 1;
}

.pages-leave {
  opacity: 1;
  transition-duration: 0.06s;
}

.pages-leave.pages-leave-active {
  opacity: 0;
}

.page-container {
  margin-top: 2em;
  position: relative;
  & > * {
    position: absolute;
    top:0;
  }
}

pre + pre {
  margin-top: -1em;
  //padding-top: 0.6em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0.08em solid lighten($comment, 17%);
}

blockquote {
  border: 0.1em solid $brand-danger;
  border-bottom-width: 0.2em;
  font:inherit;
  background: lighten($brand-danger, 5%);
  color:white;
  border-radius: 0.3em;
  @media(min-width: $screen-sm-min) {
    margin-left: -1.4em;
  }
}

.page-container img {
  box-sizing: border-box;
  padding: 2em 0;
  max-height: 30em;
  max-width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: darken(white, 3%);
}